body{
	background-image : url(../images/Rub_al_Khali_002.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container{
	width: 70%; /* largeur du conteneur */
	background: #1E584C;
}

.entete{
	height: 220px;
	background-image : url(../images/entete_camelvip.png);
	background-repeat: no-repeat;
	background-size : 100% 100%;
}

.slide{
  height: 100%;
  /*background-image : url(../images/cropped-a-tag-sossusvlei-desert-oasis1-1.jpg);
  background-repeat: no-repeat;
  background-size : 100% 100%;*/
}

img{
	height: 100%;
	width: 100%;
}

.menu{
	color:white;
}

.btn:hover{
	color:white;
	background: #40A497;
}

.compte, .option{
	background: #1E584C;
	padding-top: 2%; /* espacement entre menu et corps*/
	height: 600px;
}

article{
	background: white;
	padding: 1% 0% 5% 4%;
}

.acomment{
		margin-top: 7%;
}

.aconnexion, .aenregistrer{
	margin-top: 15%;
	border:1px solid grey;
	padding : 0% 5% 0% 5%;
}

.aconnexion{
	margin-left: 5%;
}

.aenregistrer{
	margin-right: 5%;
}

label, input{
	margin-top: 10%;
}

footer{
	color:white;
  text-align: right;
	border-top: 3px white dotted;
}

.bouton{
	margin-top: 5%;
	height: 50px;
}

table{
	font-size: xx-small;
}
