/* CSS MOBILE */

.container{
	width: 90%; /* largeur du conteneur */
}

.entete{
	height: 125px;
}

h1, h3{
	font-size: 180%;
}

.legende{
	font-size: 67%;
}

.boutonfleche{
	border: 1px solid black;
	width: 40%;
}

.photoville{
	margin-left: 5%;
}
